.u-section-1 {
    background-image: url("images/kawasaki_bg.jpg");
    background-position: 50% 50%;
  }
  
  .u-section-1 .u-sheet-1 {
    min-height: 771px;
  }
  
  .u-section-1 .u-text-1 {
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 4px;
    font-size: 3rem;
    margin: 106px auto 0;
  }
  
  .u-section-1 .u-text-2 {
    width: 543px;
    margin: 20px auto 60px;
  }
  
  .alignement {
    margin-right: 50px;
  }
  
  @media (max-width: 1199px) {
    .u-section-1 .u-sheet-1 {
      min-height: 610px;
    }
  }
  
  @media (max-width: 991px) {
     .u-section-1 {
      background-size: 120%;
    }
  
    .u-section-1 .u-sheet-1 {
      min-height: 499px;
    }
  
    .u-section-1 .u-text-1 {
      font-size: 2.25rem;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-1 .u-sheet-1 {
      min-height: 493px;
    }
  
    .u-section-1 .u-text-2 {
      width: 540px;
    }
  }
  
  @media (max-width: 575px) {
     .u-section-1 {
      background-position: 51.07% 100%;
      background-size: auto 120%;
    }
  
    .u-section-1 .u-sheet-1 {
      min-height: 558px;
    }
  
    .u-section-1 .u-text-1 {
      font-size: 1.875rem;
    }
  
    .u-section-1 .u-text-2 {
      width: 340px;
    }
  } .u-section-2 {
    min-height: 454px;
  }
  
  .u-section-2 .u-sheet-1 {
    min-height: 689px;
  }
  
  .u-section-2 .u-layout-wrap-1 {
    margin: 50px auto 50px 0;
  }
  
  .u-section-2 .u-image-1 {
    min-height: 589px;
    background-image: url("images/zx10r_acceuil.jpg");
    background-position: 50% 50%;
  }
  
  .u-section-2 .u-container-layout-1 {
    padding: 30px;
  }
  
  .u-section-2 .u-layout-cell-2 {
    min-height: 589px;
  }
  
  .u-section-2 .u-container-layout-2 {
    padding: 30px;
  }
  
  .u-section-2 .u-line-1 {
    width: 86px;
    height: 10px;
    transform-origin: right center 0;
    margin: 0 auto 0 0;
  }
  
  .u-section-2 .u-text-1 {
    font-weight: 300;
    text-transform: uppercase;
    font-size: 2.25rem;
    margin: 20px 0 0;
  }
  
  .u-section-2 .u-image-2 {
    min-height: 354px;
    background-image: url("images/h2r_acceuil.jpg");
    background-position: 0% 50%;
  }
  
  .u-section-2 .u-container-layout-3 {
    padding: 30px;
  }
  
  .u-section-2 .u-layout-cell-4 {
    min-height: 235px;
  }
  
  .u-section-2 .u-container-layout-4 {
    padding: 30px 0;
  }
  
  .u-section-2 .u-text-2 {
    margin: 0;
  }
  
  @media (max-width: 1199px) {
    .u-section-2 .u-sheet-1 {
      min-height: 454px;
    }
  
    .u-section-2 .u-layout-wrap-1 {
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-2 .u-image-1 {
      min-height: 486px;
    }
  
    .u-section-2 .u-layout-cell-2 {
      min-height: 486px;
    }
  
    .u-section-2 .u-text-1 {
      font-size: 2rem;
    }
  
    .u-section-2 .u-image-2 {
      min-height: 292px;
    }
  
    .u-section-2 .u-layout-cell-4 {
      min-height: 194px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-2 .u-sheet-1 {
      min-height: 1489px;
    }
  
    .u-section-2 .u-image-1 {
      min-height: 558px;
    }
  
    .u-section-2 .u-layout-cell-2 {
      min-height: 100px;
    }
  
    .u-section-2 .u-container-layout-2 {
      padding: 50px;
    }
  
    .u-section-2 .u-image-2 {
      min-height: 671px;
    }
  
    .u-section-2 .u-layout-cell-4 {
      min-height: 100px;
    }
  
    .u-section-2 .u-container-layout-4 {
      padding-left: 50px;
      padding-right: 50px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-2 .u-sheet-1 {
      min-height: 1817px;
    }
  
    .u-section-2 .u-image-1 {
      min-height: 701px;
    }
  
    .u-section-2 .u-container-layout-1 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-2 .u-layout-cell-2 {
      min-height: 328px;
    }
  
    .u-section-2 .u-image-2 {
      min-height: 503px;
    }
  
    .u-section-2 .u-container-layout-3 {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-2 .u-sheet-1 {
      min-height: 1221px;
    }
  
    .u-section-2 .u-layout-wrap-1 {
      margin-top: 30px;
      margin-bottom: 30px;
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-2 .u-image-1 {
      min-height: 441px;
    }
  
    .u-section-2 .u-layout-cell-2 {
      min-height: 100px;
    }
  
    .u-section-2 .u-container-layout-2 {
      padding: 30px 10px;
    }
  
    .u-section-2 .u-text-1 {
      font-size: 1.5rem;
    }
  
    .u-section-2 .u-image-2 {
      min-height: 317px;
    }
  
    .u-section-2 .u-container-layout-4 {
      padding-left: 10px;
      padding-right: 10px;
    }
  } .u-section-3 {
    background-image: none;
  }
  
  .u-section-3 .u-sheet-1 {
    min-height: 227px;
  }
  
  .u-section-3 .u-layout-wrap-1 {
    margin: 21px auto 20px 0;
  }
  
  .u-section-3 .u-layout-cell-1 {
    min-height: 208px;
  }
  
  .u-section-3 .u-container-layout-1 {
    padding: 30px;
  }
  
  .u-section-3 .u-text-1 {
    letter-spacing: 0;
    font-size: 2.25rem;
    text-transform: uppercase;
    font-weight: 300;
    margin: 0;
  }
  
  .u-section-3 .u-text-2 {
    margin: 20px 0 0;
  }
  
  .u-section-3 .u-layout-cell-2 {
    min-height: 208px;
  }
  
  .u-section-3 .u-container-layout-2 {
    padding: 30px 20px 30px 30px;
  }
  
  .u-section-3 .image-icon-1 {
    height: 64px;
    width: 64px;
    margin: 0 auto;
  }
  
  .u-section-3 .u-text-3 {
    text-transform: uppercase;
    letter-spacing: 0;
    font-size: 1.125rem;
    margin: 20px 0 0;
  }
  
  .u-section-3 .u-layout-cell-3 {
    min-height: 208px;
  }
  
  .u-section-3 .u-container-layout-3 {
    padding: 30px 20px;
  }
  
  .u-section-3 .u-icon-2 {
    height: 64px;
    width: 64px;
    margin: 0 auto;
  }
  
  .u-section-3 .u-text-4 {
    text-transform: uppercase;
    letter-spacing: 0;
    font-size: 1.125rem;
    margin: 20px 0 0;
  }
  
  .u-section-3 .u-layout-cell-4 {
    min-height: 208px;
  }
  
  .u-section-3 .u-container-layout-4 {
    padding: 30px 20px;
  }
  
  .u-section-3 .u-icon-3 {
    height: 64px;
    width: 64px;
    margin: 0 auto;
  }
  
  .u-section-3 .u-text-5 {
    text-transform: uppercase;
    letter-spacing: 0;
    font-size: 1.125rem;
    margin: 20px 0 0;
  }
  
  @media (max-width: 1199px) {
    .u-section-3 .u-sheet-1 {
      min-height: 306px;
    }
  
    .u-section-3 .u-layout-wrap-1 {
      margin-top: 20px;
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-3 .u-layout-cell-1 {
      min-height: 206px;
      background-position: 50% 50%;
    }
  
    .u-section-3 .u-layout-cell-2 {
      min-height: 172px;
      background-position: 50% 50%;
    }
  
    .u-section-3 .u-layout-cell-3 {
      min-height: 172px;
      background-position: 50% 50%;
    }
  
    .u-section-3 .u-layout-cell-4 {
      min-height: 172px;
      background-position: 50% 50%;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-3 .u-sheet-1 {
      min-height: 515px;
    }
  
    .u-section-3 .u-layout-wrap-1 {
      margin-top: 37px;
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-3 .u-layout-cell-1 {
      min-height: 100px;
    }
  
    .u-section-3 .u-layout-cell-2 {
      min-height: 100px;
    }
  
    .u-section-3 .u-layout-cell-3 {
      min-height: 100px;
    }
  
    .u-section-3 .u-layout-cell-4 {
      min-height: 100px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-3 .u-sheet-1 {
      min-height: 763px;
    }
  
    .u-section-3 .u-layout-wrap-1 {
      margin-top: 20px;
      margin-right: initial;
      margin-left: initial;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-3 .u-sheet-1 {
      min-height: 831px;
    }
  
    .u-section-3 .u-layout-wrap-1 {
      margin-top: 21px;
      margin-bottom: 21px;
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-3 .u-layout-cell-1 {
      min-height: 276px;
    }
  
    .u-section-3 .u-text-1 {
      font-size: 1.5rem;
    }
  
    .u-section-3 .u-container-layout-2 {
      padding-right: 30px;
    }
  
    .u-section-3 .u-container-layout-3 {
      padding-left: 30px;
      padding-right: 30px;
    }
  
    .u-section-3 .u-container-layout-4 {
      padding-left: 30px;
      padding-right: 30px;
    }
}